.table {
    border-radius: 5px;
    overflow: auto; // Để các góc được bo tròn
    padding: 30px;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    // align-items: flex-start;

    &_container {
        display: flex;
        flex-direction: column;
        height: 400px;
        overflow: auto;
        border: 1px solid #ccc;
        // margin: auto;

        &::-webkit-scrollbar {
            width: 8px;
            height: 10px;

        }

        /* Track */
        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0);
            border-radius: 3px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 10px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        &.vertical {
            flex-direction: row;
        }

        &_header {
            display: flex;
            font-weight: bold;
            cursor: pointer;
            position: sticky;
            right: 0;
            top: 0;
            z-index: 1;
            
            height: 50px;
            &.vertical {
                flex-direction: column;

            }

            &_cell {
                padding: 10px;
                // border: 1px solid #ccc; // Viền cho ô
                text-align: center; // Canh giữa nội dung
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                &_icon {
                    margin-top: 3px;
                }

                &:last-child {
                    background: white;
                    border: none;
                    padding-left: 0;
                    padding-right: 0;
                    flex: none;
                }

            }
        }

        &_row {
            display: flex;
            cursor: pointer;
            position: relative;
            flex: 1;

            &:hover {
                background-color: #9999992c;
            }

            &.vertical {
                flex-direction: column;
            }

            // &:nth-child(odd) {
            //     background-color: rgba(0, 0, 255, 0.336) !important;
            //     /* Cột lẻ */
            // }

            // &:nth-child(even) {
            //     background-color: #e9e9e9;
            //     /* Cột chẵn */
            // }

            &.show-border {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: calc(100% - 30px);
                    /* Giảm chiều dài viền */
                    height: 2px;
                    background-color: red;
                    display: block;
                    /* Hiển thị khi cần thiết */
                }
            }

            &_cell {
                padding: 10px;
                // border: 1px solid #ccc;
                text-align: center;
                flex: 1;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: flex;
                justify-content: center;
                align-items: center;

                &:last-child {
                    background: white;
                    border: none;
                    text-align: start;
                    padding-left: 0;
                    padding-right: 0;
                    flex: none;
                }

                input {
                    height: 100%;
                    width: 100%;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    outline: none;
                    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
                    transition: border-color 0.3s, box-shadow 0.3s;

                    &:focus {
                        border-color: #007bff;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    }

                    &:hover {
                        border-color: #999;
                    }

                    &::placeholder {
                        color: #888;
                        font-style: italic;
                    }
                }

                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    visibility: hidden;

                    &:hover {
                        visibility: hidden;
                    }
                }
            }

            /* Hiển thị nút button khi hover vào toàn bộ hàng */
            &:hover button {
                transition: visibility 0.3s ease-in-out;
                visibility: visible;
                /* Hiện nút khi hover vào hàng */
            }
        }


    }

    &_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
    }

    &_popup {
        position: fixed;
        width: 60%;
        height: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        // border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        // padding: 20px;
        z-index: 3;
        overflow: auto;
        user-select: none;

        &_title {
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 0;
            left: 0;
            padding-left: 10px;
            background-color: rgb(200, 196, 196);
            border-bottom: 1px solid #ccc;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 10;
            line-height: 40px;

            &_close {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;


                &:hover {
                    background-color: red;
                    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
                    color: white;
                }
            }
        }

        &_main {
            margin-top: 10px;
            padding: 0px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &_dropdown {
                border-bottom: 1px solid #ccc;
                padding-bottom: 10px;

                &:last-child {
                    border: none;
                }

                &_title {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    cursor: pointer;
                    transition: color 0.2s ease-in-out;
                    z-index: 9999;

                    &:hover {
                        transition: color 0.2s ease-in-out;
                        color: #007bff;
                    }
                }

                &_content {
                    margin-top: 10px;
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.2s ease-out;

                    // .table_popup_main_dropdown {
                    //     border: none;
                    // }

                    &.active {
                        max-height: 1000px;
                        transition: max-height 0.5s ease-in-out;
                    }

                    &_item {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-top: 10px;
                        justify-content: space-between;
                        flex: 1;

                        input {
                            // flex: 1;
                            width: 130px;
                        }

                        &_select {
                            width: 60%;
                            padding: 10px 40px 10px 20px;
                            /* Thêm padding để tạo không gian cho biểu tượng */
                            font-size: 14px;
                            color: #333;
                            background-color: #f0f0f0;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                            appearance: none;
                            /* Tắt giao diện mặc định của trình duyệt */
                            outline: none;
                            cursor: pointer;
                            transition: all 0.3s ease;

                            &:focus {
                                border-color: #007bff;
                                background-color: #fff;
                            }

                            /* Chỉnh sửa cho phần tử option */
                            option {
                                padding: 10px;
                                background-color: #fff;
                                color: #333;
                                border: 1px solid #ddd;

                                &:hover {
                                    background-color: #f0f0f0;
                                }
                            }
                        }

                        &_change {
                            position: relative;
                            width: 200px;
                            font-family: 'Arial', sans-serif;
                            margin-left: 10px;
                            z-index: 1;

                            &_select {
                                width: 100%;
                                padding: 10px 40px 10px 20px;
                                /* Thêm padding để tạo không gian cho biểu tượng */
                                font-size: 14px;
                                color: #333;
                                background-color: #f0f0f0;
                                border: 1px solid #ccc;
                                border-radius: 5px;
                                appearance: none;
                                /* Tắt giao diện mặc định của trình duyệt */
                                outline: none;
                                cursor: pointer;
                                transition: all 0.3s ease;

                                &:focus {
                                    border-color: #007bff;
                                    background-color: #fff;
                                }

                                /* Chỉnh sửa cho phần tử option */
                                option {
                                    padding: 10px;
                                    background-color: #fff;
                                    color: #333;
                                    border: 1px solid #ddd;

                                    &:hover {
                                        background-color: #f0f0f0;
                                    }
                                }
                            }

                            &::after {
                                content: '▼';
                                /* Biểu tượng mũi tên */
                                position: absolute;
                                right: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                                font-size: 14px;
                                color: #333;
                                pointer-events: none;
                                /* Để tránh làm ảnh hưởng đến sự kiện chọn */
                            }
                        }

                        &_inputGroup {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }
        }

        h3 {
            margin: 0px !important;
        }

        label {
            display: block;
        }

        input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        &_add {
            background-color: #08D9D6;
            /* Màu nền cho nút thêm hàng */
            color: white;
        }

        &_change {
            margin-top: 10px;
            background-color: #252A34;
            color: white;
        }

        &_close {
            background-color: #FF2E63;
        }

        &_update {
            background-color: #EAEAEA;
        }

        button {
            padding: 8px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_togle {
            display: flex;
            justify-content: space-between;
        }
    }

    &_gear {
        position: relative;
        cursor: pointer;
        width: 20px;
        margin-bottom: 10px;
    }
}

.table_container_header_cell,
.table_container_row_cell {
    overflow: hidden;
    white-space: nowrap;
}

.highlight-odd {
    background-color: blue !important;
}

h4 {
    margin: 0;
}




//Color picker
.css-yxnuqv-ColorPicker {
    width: auto !important;
}

.css-mw1il1-ColorPicker {
    width: auto !important;
}

/* Ẩn mũi tên trên các trình duyệt hiện đại */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ẩn mũi tên trên các trình duyệt Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}